$font-patuaone: 'Patua One', cursive;
$font-roboto: 'Roboto', sans-serif;

.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h1  {
    font-family: $font-patuaone;
  }

  :not(h1) {
    font-family: $font-roboto;
  }

}
