.ground-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url('./components/background-game.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
}

.ground-dashboard {
    width: 30%;
    background-color: #FFFFFF;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ground {
    width: 50%;
}

.row {
    width: 50%;
}
.ground-status-game {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.square {
    width: 50px;
    height: 50px;
    border: 2px solid #CAD2C5;
    background-color: black;
    font-size: 2rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 40px;
    height: 40px;
}