$font-roboto: 'Roboto', sans-serif;

.home-container {
    width: 100%;
    height: 100vh;
    background-image: url('./components/background-home.jpg');
}

.home-header {
    width: 100%;
    height: 10vh;
    background-color: #EA3F20;
}

.home-body {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 6rem;
        color: #E0E4E8;
    }

    & button {
        margin: 2rem auto auto auto;
        font-family: $font-roboto !important; //overwrite style impose by React-Ui-Semantic
    }
}

.home-footer {
    width: 100%;
    height: 10vh;
    background-color: #EA3F20;

    display: flex;
    justify-content: center;
    align-items: center;
}